@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..600;1,100..700&display=swap');

@theme {
    --color-base: lch(25.12% 3.24 19.93);
    --color-primary: lch(67.64% 22.18 21.52);
    --color-secondary: lch(61.44% 65.28 27.83);
}

:root {
    --color-base: hsl(0, 6%, 24%);
    --color-primary: hsl(0, 36%, 70%);
    --color-secondary: hsl(0, 93%, 68%);
}

@import "tailwindcss";

@layer base {
    * {
        font-family: "Josefin Sans", sans-serif;
    }
}

.border-primary {
    border-color: var(--color-primary);
}

.text-primary {
    color: var(--color-primary);
}

button {
    --shadow-color: color-mix(in oklab, var(--color-secondary) 35%, transparent);
    --shadow-hover: color-mix(in oklab, var(--color-secondary) 35%, grey 15%);
    --gradient-1: color-mix(in oklab, var(--color-secondary) 50%, white);
    --gradient-2: color-mix(in oklab, var(--color-secondary) 80%, white);

    --hover: color-mix(in oklab, var(--color-secondary) 25%, white);

    transition: all .3s ease;
    background: linear-gradient(120deg, var(--gradient-1) 50%, var(--gradient-2));
    box-shadow: 0px 8px 12px 0px var(--tw-shadow-color);
    -webkit-box-shadow: 0px 8px 12px 0px var(--shadow-color);
    -moz-box-shadow: 0px 8px 12px 0px var(--shadow-color);

    &:hover {
        box-shadow: 0px 10px 16px 0px var(--shadow-hover);
        -webkit-box-shadow: 0px 10px 16px 0px var(--shadow-hover);
        -moz-box-shadow: 0px 10px 16px 0px var(--shadow-hover);

        background: linear-gradient(120deg, var(--hover) 50%, var(--hover));
    }
}

input#email {
    position: relative;
    border: 1px solid;
    border-color: color-mix(in oklab, var(--color-primary) 50%, transparent);
    padding-block: .75rem;
    padding-inline: 1.5rem;
    padding-right: calc(25% + 2rem);
    border-radius: 100vw;
    width: 100%;
    outline: none;
    /* transition: outline .2s ease; */

    &:invalid {
        outline: 2px solid var(--color-secondary);
        outline-offset: -2px;
    }

    &:invalid + img {
        opacity: 1;
    }

    &::placeholder {
        color: var(--color-primary);
        opacity: 50%;
    }
}



.primary {
    color: var(--color-primary);
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}