@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300..600;1,300..600&display=swap");

:root {
  --clr-pink-400: hsl(0, 36%, 70%);
  --clr-red-500: hsl(0, 93%, 68%);
  --clr-grey-900: hsl(0, 6%, 24%);

  --gradient-1: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
  --gradient-2: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);

  --input-padding: 0.75rem;
  --button-width: 2rem;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/**/
/* .layout { */
/*   display: grid; */
/*   min-height: 100vh; */
/*   /* align-items: start; */
*/
/**/
/*   grid-template-columns: 1fr; */
/*   grid-template-areas: */
/*     "header" */
/*     "hero" */
/*     "content"; */
/**/
/*   > * { */
/*     border: 1px solid red; */
/*   } */
/* } */
/**/
/* .header { */
/*   grid-area: header; */
/*   height: min-content; */
/* } */
/**/
/* .hero { */
/*   grid-area: hero; */
/*   width: 100%; */
/*   height: 100%; */
/*   object-fit: cover; */
/* } */
/**/
/* .content { */
/*   grid-area: content; */
/* } */

/* @media (min-width: 1024px) { */
/*   .layout { */
/*     grid-template-columns: 1fr auto; */
/*     grid-template-rows: auto 1fr; */
/**/
/*     grid-template-areas: */
/*       "header  hero" */
/*       "content hero"; */
/*   } */
/* } */

input#email {
  position: relative;
  border: 1px solid;
  border-color: color-mix(in oklab, var(--color-primary) 50%, transparent);
  padding-block: var(--input-padding);
  padding-inline: 1.5rem;
  padding-right: calc(25% + 2rem);
  border-radius: 100vw;
  width: 100%;
  outline: none;
  font-size: 14px;

  + img {
    position: absolute;
    top: 50%;
    right: calc(25% + 0.25rem);
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  ~ .invalid-text {
    position: absolute;
    top: 100%;
    left: 1.5rem;
    padding-block: 0.5rem;
    color: var(--color-secondary);
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &.invalid {
    outline: 2px solid var(--color-secondary);
    outline-offset: -2px;
  }

  &.invalid ~ * {
    opacity: 1;
  }

  &::placeholder {
    color: var(--color-primary);
    opacity: 50%;
  }
}

button {
  --hover: color-mix(in oklab, var(--color-secondary) 25%, white);
  --shadow-color: color-mix(in oklab, var(--color-secondary) 35%, transparent);
  --shadow-hover: color-mix(in oklab, var(--color-secondary) 35%, grey 15%);

  padding-block: calc(var(--input-padding) + 3px);
  padding-inline: var(--button-width);
  background: linear-gradient(var(--gradient-01));
  box-shadow: 0px 8px 12px 0px var(--shadow-color);
  -webkit-box-shadow: 0px 8px 12px 0px var(--shadow-color);
  -moz-box-shadow: 0px 8px 12px 0px var(--shadow-color);
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(120deg, var(--hover) 50%, var(--hover));
    box-shadow: 0px 10px 16px 0px var(--shadow-hover);
    -webkit-box-shadow: 0px 10px 16px 0px var(--shadow-hover);
    -moz-box-shadow: 0px 10px 16px 0px var(--shadow-hover);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  inset-inline: 0;
  padding: 1rem;
}
.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
