@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..600;1,100..700&display=swap');

@theme {
    --color-base: lch(25.12% 3.24 19.93);
    --color-primary: lch(67.64% 22.18 21.52);
    --color-secondary: lch(61.44% 65.28 27.83);
}

:root {
    --color-base: hsl(0, 6%, 24%);
    --color-primary: hsl(0, 36%, 70%);
    --color-secondary: hsl(0, 93%, 68%);

    --gradient-01: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);
    --gradient-02: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);

    --input-padding: .75rem;
    --button-width: 2rem;
}

@import "tailwindcss";

@layer base {
    * {
        font-family: "Josefin Sans", sans-serif;
    }
}

.border-primary {
    border-color: var(--color-primary);
}

.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

main .container.desktop {
    background-image: url("./images/bg-pattern-desktop.svg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-left: 8rem;
    padding-right: 12rem;
}

input#email {
    position: relative;
    border: 1px solid;
    border-color: color-mix(in oklab, var(--color-primary) 50%, transparent);
    padding-block: var(--input-padding);
    padding-inline: 1.5rem;
    padding-right: calc(25% + 2rem);
    border-radius: 100vw;
    width: 100%;
    outline: none;
    font-size: 14px;

    +img {
        position: absolute;
        top: 50%;
        right: calc(25% + .25rem);
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }

    ~.invalid-text {
        position: absolute;
        top: 100%;
        left: 1.5rem;
        padding-block: .5rem;
        color: var(--color-secondary);
        font-weight: bold;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }

    &:invalid {
        outline: 2px solid var(--color-secondary);
        outline-offset: -2px;
    }

    &:invalid~* {
        opacity: 1;
    }

    &::placeholder {
        color: var(--color-primary);
        opacity: 50%;
    }
}

button {
    --hover: color-mix(in oklab, var(--color-secondary) 25%, white);
    --shadow-color: color-mix(in oklab, var(--color-secondary) 35%, transparent);
    --shadow-hover: color-mix(in oklab, var(--color-secondary) 35%, grey 15%);

    padding-block: calc(var(--input-padding) + 3px);
    padding-inline: var(--button-width);
    background: linear-gradient(var(--gradient-01));
    box-shadow: 0px 8px 12px 0px var(--shadow-color);
    -webkit-box-shadow: 0px 8px 12px 0px var(--shadow-color);
    -moz-box-shadow: 0px 8px 12px 0px var(--shadow-color);
    transition: all .3s ease;

    &:hover {
        background: linear-gradient(120deg, var(--hover) 50%, var(--hover));
        box-shadow: 0px 10px 16px 0px var(--shadow-hover);
        -webkit-box-shadow: 0px 10px 16px 0px var(--shadow-hover);
        -moz-box-shadow: 0px 10px 16px 0px var(--shadow-hover);
    }
}

.hidden {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}

@media screen and (min-width: 768px) {
    :root {
        --input-padding: 1rem;
        --button-width: 2.75rem;
    }

    input#email {
        font-size: 1rem
    }
}